<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8"></meta>
 <title>天码营经验: Spring表单提交处理</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
          <form action="/sayhello" method="post">
               用户名<input type="text" name="suppliername"/>
               密码<input type="text" name="supplieraddress"/>
               <input type="submit" value="submit"/>
          </form>
</body>
</html>

<!--  th:action="@{/sayhello}" method="post" th:object="${User} th:field="*{username}" -->